          /* Import Google Font - Poppins */
          @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


          html,
          body {
            display: flex;
            min-height: 100vh;
            width: 100%;
          }


          #refresh-button {
            background-color: #f0ad4e;
            /* Yellow background */
            border: none;
            /* No border*/
            color: #d97945;
            /* White text */
            padding: 4px 8px;
            /* Some padding */
            font-size: 12px;
            /* Set a font size */
            cursor: pointer;
            /* Mouse pointer on hover */

          }


          #play {
            display: none;
          }

          .row,
          .container-fluid {
            margin-left: 0;
            margin-right: 0;
            text-align: center;
          }


          .col {
            align-items: center;
            text-align: center;
          }

          p {
            margin: 0px;
            align-items: center;
            align-content: center;
            font-size: 5vh;
          }

          h2 {
            font-size: 5vh;
            text-align: center;
          }

          #wrapper {
            min-height: 100vh;
            padding: 0;
            margin: 0;
            background: #f8f8f8;
            box-sizing: border-box;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
            font-family: 'Poppins',
              sans-serif;
          }

          .container-fluid {
            background-color: rgba 234, 242, 215;

          }

          #content-wrapper {
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-height: 100vh;
            background-color: rgba 234, 242, 215;

          }


          #title {
            color: darkslategray;
            font-weight: bold;
            font-size: 10vh;
          }



          .container {
            display: flex;
            flex-direction: column;
            /* Columns stacked vertically */
            flex-wrap: wrap;
            /* Wrap if columns overflow */
            min-height: 100vh;
            align-items: center;
          }


          /* Bug:  stop page moving on image array change */
          img {
            width: 8vw;
            left: 38vw;
            height: 90%;
          }



          #date {
            font-size: 5vh;
          }

          #image-1 {
            display: none;
          }

          #levelText {
            font-size: 5vh;
          }

          #image-2 {
            display: none;
          }


          #flips {
            font-size: 4vh;
            width: 100%;
          }

          .modal-show,
          body {
            overflow: inherit !important;
          }

          .game-container {
            display: flex;
            flex-direction: column;
            align-items: center;
          }






          .cards .card .view {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            position: absolute;
            border-radius: 7px;
            backface-visibility: hidden;
            transition: transform 0.25s linear;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
          }


          @keyframes createBox {
            from {
              transform: scale(0);
            }

            to {
              transform: scale(1);
            }
          }

          .card .front-view img {
            max-width: 17px;
          }

          .card .back-view {
            transform: rotateY(-180deg);
          }

          .card .back-view img {
            max-width: 40px;
          }

          @media screen and (max-width: 700px) {
            .cards {
              height: 300px;
              width: 250px;
            }

            .card .front-view img {
              max-width: 16px;
            }

            .card .back-view img {
              max-width: 40px;
            }
          }

          @media screen and (max-width: 530px) {
            .cards {
              height: 300px;
              width: 300px;
            }

            .card .back-view i {
              /* Add your styles here */
              max-width: 35px;
            }
          }

          #game {
            display: none;
          }

          .container-fluid {
            min-width: 100%;
          }


          /* Bug fix - image shake on open
          body*/
          .modal-open {
            padding-right: 0 !important;
          }

          #dashboard {
            min-height: 100vh;
            background: url("../images/green-white-illustrated-winter-wallpaper.png") no-repeat center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(0, 0, 0, 0.22);
            box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(0, 0, 0, 0.22);
          }

          .modal-open {
            overflow-y: inherit;
          }




          .game-board {
            height: 100vh;
            padding: 0;

          }

          button {
            font-family: "sans serif", cursive;
            font-size: 20px !important;
            font-weight: 100;
            color: rgb(22, 22, 24) !important;
          }
          .card {
            position: relative;
            width: 100%;
            height: 100%;
            cursor: pointer;
            transform-style: preserve-3d;
            transform-origin: center right;
            transition: transform 1s;
          }

          .card.flip {
            transform: translateX(-100%) rotateY(-180deg);
          }

          .card {
            position: absolute;
            width: 100%;
            height: 100%;
            line-height: 260px;
            color: #0f0f0f;
            text-align: lef;
            font-weight: bold;
            font-size: 40px;
            backface-visibility: hidden;
          }

          .row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;

          }



          .col {
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            flex: 1;
            align-items: center;
          }

          h1 {
            display: center;
            vertical-align: middle;

          }



          h1 {
            text-align: center;
          }


          .cards,
          .card,
          .view,

          p {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .cards {

            height: 350px;
            width: 350px;
            flex-wrap: wrap;
            justify-content: space-between;

          }

          .cards .card {
            cursor: pointer;
            position: relative;
            perspective: 1000px;
            transform-style: preserve-3d;
            height: calc(100% / 4 - 10px);
            width: calc(100% / 4 - 10px);
            border: 1px solid;
          }

          .cards .card .view {
            width: 100%;
            height: 100%;
            user-select: none;
            pointer-events: none;
            position: absolute;
            background: #fff;
            border-radius: 7px;
            backface-visibility: hidden;
            transition: transform 0.25s linear;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
          }

          .card .front-view img {
            max-width: 17px;
          }

          .card .back-view {
            transform: rotateY(-180deg);
          }

          .card .back-view img {
            max-width: 40px;
          }

          .modal {
            overflow: hidden;
          }

          .modal-title {
            font-size: 5vh;
          }

          .modal-content p {
            text-align: left;
          }

          /* Styles for the modal */
          .modal {
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            font-size: 3vh;
          }

          .modal-content {
            background-color: #fff;
            margin: 10% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            text-align: left;
          }

          .modal-header {
            display: flex;
            align-items: center;
            background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxz");
          }

          .modal-footer {
            display: flex;
            align-items: center;
            background-image: url("https://img.freepik.com/free-photo/3d-render-defocussed-snowy-tree-landscape_1048-14924.jpg?w=740&t=st=1702233170~exp=1702233770~hmac=77a1675203521ccae08b6c56e3f345e46aaa3a403ee051ebe3645ed4f9b334b2");
          }

          .modal-header img {
            max-width: 50px;
            /* Set the maximum width of the image */
            margin-right: 10px;
            /* Adjust the margin as needed */
          }

          .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
          }

          .close:hover,
          .close:focus {
            color: #16910d;
            text-decoration: none;
            cursor: pointer;
          }



          .modal-header,
          .modal-footer {
            text-align: left;
          }

          @media screen and (max-width: 767px) {

            /*phones*/
            h1 {
              font-size: 26px;
              text-align: center;
              /* This will center text */

            }

            h2 {
              font-size: 22px;
            }



            .info-box p {
              font-size: 17px;
              line-height: 1.5rem;
            }

            .info-box {
              margin: 0.5em 0em !important;
              padding: 1em !important;
            }

            .fa-3x {
              font-size: 2em;
            }

            ;
          }

          /* fixes dashboard and gameboard height issue on phones*/
          #dashboard,
          #game-board {
            height: auto;
          }

          .dashboard {
            min-height: auto;
          }

          @media screen and (max-width: 699px) {
            .col {
              display: block;
              text-align: center;
            }

          }

          
          @media (max-width: 576px) {
            .column {
              display: none; /* Hide all columns by default on small screens */
            }
      
            .active-column {
              display: block; /* Display the active column */
            }
          }
      
          /* Add custom styles for the scroll button */
          .scroll-btn {
            position: fixed;
            bottom: 20px;
            right: 20px;
            display: none; /* Hide the scroll button by default */
          }