#grid {
   /* height: 200px;*/
    width: 450px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 21%;
    cursor: pointer;
    text-align: center;
    gap: 0.6em;
    box-sizing: border-box;
    background-color: DodgerBlue;

}

  
  #grid > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

.game-container {
    box-sizing: content-box;
    width: 5px;
    
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    right: 50%;
    border-radius: 0.6em;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
  }

  #result {
    text-align: center;
  }
 
